<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- local feed on BaGetter -->
    <add key="local-test" value="http://localhost:50561/v3/index.json" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <!-- <packageSource key="local-test">
      <package pattern="Lextm.SharpSnmpLib" />
    </packageSource> -->
  </packageSourceMapping>
</configuration>
